<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments Page</title>
</head>
<body>
<!--<a th:href="@{/postNewComment/{id}(id=${User.id})}">Add new Comment</a>-->
<form th:action="@{/postNewComment}" method="get" th:object="${Body}">
    <textarea  style="width: 20%; height: 10vh;"name="commentBody"  placeholder="post your comment"></textarea>
    <input type="submit" value="Post">
</form>


<table class="table table-success table-striped table-borderless table-hover" >
    <tbody>
    <tr th:each="comment :${comments}">
        <td><a th:text="${comment.commentBody}"></a></td>
        <td th:text="${comment.person.username}"></td>
        <td th:text="${comment.localDate}"></td>
        <!--        <td><a th:href="@{/deleteTopic/{id}(id=${topic.id})}" class="btn btn-danger">Delete</a></td>-->

    </tr>
    </tbody>
</table>
</body>
</html>